@tailwind base;
@tailwind components;
@tailwind utilities;



:root {
    --light-primary-color: #003147;
    --dark-primary-color: #282626;

    --light-secondary-color: #ADD8E6;
    --dark-secondary-color: #454646;

    --light-base-color: #848C90;
    --dark-base-color: #312F2D;

    --light-blue-color: #03A9F4;
}

header,
main,
footer {
    width: 100%;
}



main {
    flex: 1;
    background-color: var(--light-secondary-color);
    transition: all .2s;

}

main {
    background-color: var(--light-secondary-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.dark main {
    background-color: var(--dark-secondary-color);
}

header,
footer {
    background-color: var(--light-primary-color);
    transition: all .2s;
}

.dark header,
.dark footer {
    background-color: var(--dark-primary-color);
}

.dark .switch-btn {
    background-color: var(--dark-base-color);
}

.switch-btn {
    width: 74px;
    height: 38px;
    border-radius: 32px;
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--light-secondary-color);
    position: relative !important;
}


.switch-btn-base {
    width: 100%;
    height: 14px;
    border-radius: 10px;
    background-color: var(--light-base-color);
}

.switch-btn button {
    position: absolute;
    height: 22px;
    width: 22px;
    border-radius: 18px;
    left: 15px;
    background-color: var(--light-blue-color);
    transition: all .2s;
    display: flex;
    justify-content: center;
    align-items: center;
}


.dark .switch-btn button {
    transform: translateX(22px);
}

.card {
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.dark .card {
    background-color: var(--dark-primary-color);
}

.card-footer {
    width: 100%;
    height: 64px;
    background-color: rgba(132, 140, 144, 0.2);
    color: var(--light-base-color);
}

.card-body {
    gap: 24px;
}

.about-content h1 {
    color: var(--light-primary-color);
}

.dark .about-content h1 {
    color: #fff;
    opacity: .8;
}

.dark .about-content p {
    color: #fff;
    opacity: .8;
}

.about-content h2 {
    color: var(--light-base-color);
}

.card-footer span {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 8px;
}

.card-footer span i {
    font-size: 20px;
}

.card-footer span:nth-child(2) i {
    margin-top: -4px;
}

.card-footer span:first-child i {
    margin-top: 2px;
}

.card-footer span:hover {
    color: var(--light-primary-color);
}

.dark .card-footer span:hover {
    color: #fff;
}

.contactInfo i:hover {
    color: #fff;
}

.contactInfo {
    display: flex;
    justify-content: center;
    gap: 16px;
    font-size: 28px;
    color: var(--light-blue-color);
}

.profile-img {
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
}